.marg{
  margin: 0;

      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
}
.fontHead{
  font-family: "Times New Roman", Times, serif;
  font-size:40px;
  font-style: oblique;
}

.fontRes{
  font-family: "Times New Roman", Times, serif;
  font-size:30px;
  font-style: oblique;
}
bodyRes{
  background-color: #B6B6B6;

}
