{% extends 'layouts/base.html' %}
{% block content %}
{% load bootstrap %}
<h1 class="text-center"> Document Distance Finder </h1>

<form action="" method="post" role="form">
{% csrf_token %}
<div class="container"
  <div class=row>
    <div class="col-sm-6">
      {{form.doc1|bootstrap}}
    </div>
    <div class="col-sm-6">
      {{form.doc2|bootstrap}}
    </div>
  </div>
  <div class="row text-center">
  <button type="submit" style="margin-top:50px;">Process</button>
  </div>
</div>
</form>
{% endblock %}
