{% extends 'layouts/base.html' %}
{% block content %}
{% load bootstrap %}
<div class="mtop1 text-center fontHead" style="background-color:#ffffff; padding:25px" >
<div class="text-center" style=""> Document Distance Finder </div>
</div>
<form action="" method="post" role="form">
{% csrf_token %}
<div class="container mtop2">
  <div class=row>
    <div class="col-sm-6">
      {{form.doc1|bootstrap}}
    </div>
    <div class="col-sm-6">
      {{form.doc2|bootstrap}}
    </div>
  </div>
  <div class="row text-center">
  <button type="submit" style="margin-top:50px;">Process</button>
  </div>
</div>
</form>
{% endblock %}
